<div class="create_comment_container">
  <%= form_with model: [ @article, @article.comments.build ] do |form|%>
    <%= form.label :author %>
    <%= form.text_field :author, :class => 'create_comment_author'%>
    <%= form.label :body %>
    <%= form.text_area :body, :class => 'create_comment_body'%>
    <%= form.submit :class => 'create_comment_submit'%>
  <% end %>
</div>
