<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(article.errors.count, 'error') %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='form_new_container'>
    <%= form.label :title %>
    <%= form.text_field :title, :class => 'input_basic'%>
    <%= form.label :body %>
    <%= form.text_area :body, :class => 'input_body'%>
    <%= form.label :status %>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public'%>
    <%= form.submit :class => 'confirm_button' %>
  </div>
<% end %>
<br>