<%= form_with(model: article) do |form| %>
  <div class='form_new_container'>
    <%= form.label :title %>
    <%= form.text_field :title, :class => 'input_basic'%>
    <%= form.label :body %>
    <%= form.text_area :body, :class => 'input_body'%>
    <%= form.label :status %>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public'%>
    <%= form.submit :class => 'confirm_button' %>
    <% if article.errors.any? %>
      <div id="error_explanation">
        <h2>Your article could not be posted:</h2>
        <% article.errors.each do |error| %>
          <p><%= error.full_message %></p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>