<%= content_for :title do %>
  <h1 class="page_title">Edit Post - <%= @article.title %></h1>
<%end%>
<%= render 'form', article: @article %>
<%= link_to 'Show', @article, class:"article_nav" %>
<%= link_to 'Back', articles_path, class:"article_nav" %>
