<%= content_for :title do %>
  <h1 class="page_title">All Posts</h1>
<%end%>
<div class="index_article_collection">
  <%= link_to 'New Post', new_article_path, class: "confirm_button" %>
  <% @articles.each do |article| %>
    <% if article.visible? %>
      <div class="index_article_preview">
        <%= link_to article.title, article, class: "article_title" %>
        <p class="index_article_body"><%= article.body %></p>
        <div class="index_aricle_nav">
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "index_article_destroy" %>
          <%= link_to 'Edit', edit_article_path(article), class: "index_article_edit" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>