<%= content_for :title do %>
  <h1 class="page_title">All Posts</h1>
<%end%>
<div class="index_article_container">
  <%= link_to 'New Post', new_article_path, class: "confirm_button" %>
  <div class="index_article_collection">
    <% @articles.each do |article| %>
      <div class="index_article_preview">
        <%= link_to article.title, article, class: "article_title" %>
        <div class="index_article_body"><p><%= article.body %></p></div>
        <div class="index_aricle_nav">
          <div class="index_article_destroy"><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <div class="index_article_edit"><%= link_to 'Edit', edit_article_path(article) %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>